.box{
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 250px;
padding-left: 20px;
background-color: #97FEED;
display: block;
border-radius: 10px 50px;
box-shadow: 3px 3px 3px 3px gray;
}
body{
    background-color: #071952;
}
h2{
    text-align: center;
}